@import './css-components/variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: var(--color-gray-100);
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 280px;
  flex: 1;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}